.title {
    font-family: papyrus, fantasy;
}

.a_line {
    align-self: center;
    background-color: #d1d1d1;
    content: "";
    height: 32px;
    width: 1px;
}

.register_container {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
}

.register_left {
    background-size: contain;
    background-position: center center;
    background-image: url(/static/register_cat.png);
    -webkit-box-flex: 1;
    flex: 1;
}

.register_right {
    flex-basis: 60%;
}

.footer {
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }

.image {
    object-fit: contain;
}

.url_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.url_img_2 {
    width: 800px;
    height: 600px;
    object-fit: cover;
}