{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}

<div class="container text-center">
    <div class="row justify-content-evenly">
      <div class="col-4">
        <h1 class="title">Contact Us</h1>
        <p>Have a question, feedback, or just want to say hello? Feel free to reach out using our contact information. 
          If you aren't receiving emails, make sure to check your junk mail before contacting us!</p>
        </div>
      <div class="col-4">
        <h1 class="title">Contact Information:</h1>
        <p>Email: the.official.blue.elephant@gmail.com</p>
    </div>
    </div>
  </div>
</div>
            
{% endblock %}