<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <link href="/static/styles.css" rel="stylesheet">
        <title>The Blue Elephant: {% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>

      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand title fw-bolder fs-2" href="/">
            <img src="/static/Elephant.jpg" alt="Elephant" height="80">
            The Blue Elephant
          </a>
          <form class="d-flex w-50" role="search">
            <input class="form-control me-2 " type="search" placeholder="Search Image Library" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <!--- {% if logged_in is defined -%} --->
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="/account">My Account</a>
              </li>
            </ul>
          <!--- {% else -%} --->
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
              <div class="a_line"></div>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
            </ul>
          <!--- {% endif %} --->
        </div>
      </nav>

      {% if get_flashed_messages() %}
          <header>
              <div class="alert alert-primary mb-0 text-center" role="alert">
                  {{ get_flashed_messages() | join(" ") }}
              </div>
          </header>
      {% endif %}
        

      <main class="container-fluid py-5 text-center">
          {% block main %}{% endblock %}
      </main>

      <footer class="footer">
          <div>ADD ME</div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>