{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <div class="container text-center">
        <div class="row justify-content-between">
        <div class="col-4">
            <img src="{{ url_Data }}" class="url_img_2">
        </div>
        <div class="col-4">
            <form action="/login" method="post">
                <div>
                    <label class="fs-1 title fw-bolder">Log In</label>
                </div>
                <div class="mb-3">
                    <label class="fs-6 title">
                        New to The Blue Elephant? 
                        <a href="/register">Register</a>
                    </label>
                </div>
                <br>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
        </div>
        </div>
    </div>
    </div>

{% endblock %}